body{
  text-align: center;
  font-family: Helvetica;
}
.webhead{
  background-image: url("../images/the-flatiron-building.png");
}
.designed{
  background-image: url("../images/the-flatiron-building.png");
}
